body,html{
	width:100%;
	margin:0;
	padding:0;
	font-family:Calvert MT W01 Light,Lato,sans-serif,;
	color:#39444c;
	z-index:-100;
}
h1{
	color:#50C8F5;
	font-family:FrutigerBQ-Bold,Calvert;
}
h2{
	color:#232D96;
}
div.disclaim{
	width: 1030px;
}
h2.Section{
	color:#FFFFFF;
	font-family:Rockwell,Arial-BoldMT,FrutigerBQ-Bold,Calvert;
}
div.Section {
	width: 1030px;
	padding: 10px;
	border: 5px;
	margin: 0;
	background-color:#003552;
}
h3.Category{
	color:#FFFFFF;
	font-family:Rockwell,Arial-BoldMT,FrutigerBQ-Bold,Calvert;
}
div.Category {
	
	width: 1000px;
	padding: 10px;
	border: 5px;
	margin: 0;
	background-color:#003552;
	}
h1.Issue{
	color:#50C8F5;
	font-family:Rockwell,Arial-BoldMT,FrutigerBQ-Bold,Calvert;
}
div.Issue {
	width: 800px;
	padding: 100px;
	border: 5px;
	margin: 0;
	background-color:#eeeeff;
}
div.Aim {
	width: 780px;
	padding: 10px;
	margin: 0;
	color:#39444c;
	background-color:#FFFFFF;
}
div.Benefits {
	width: 780px;
	padding: 10px;
	margin: 0;
	color:#39444c;
	background-color:#FFFFFF;
}
div.Context {
	width: 780px;
	padding: 10px;
	margin: 0;
	color:#39444c;
	background-color:#FFFFFF;
}

table.validity{
width:400px;
border:0;}
tr.invalid{
color:#AA0000;
background-color:#FFCCDD;
}
tr.valid{
color:#00AA00;
background-color:#CCFFDD;
}
tr.mismatch{
color:#0000AA;
background-color:#DDCCFF;
}
#DivForHoverItem {
height: 20px;
width:  90px;
background-color:#DCDCDC;
}
#HiddenText {
	display: none;
	z-index:100;
}
#DivForHoverItem:hover #HiddenText {
	display:block;
	z-index:100;
}
